<div class="texts-wrapper">
  <div class= "contents-title text-center">
    <h1><%= @title %> テキスト教材</h1>
  </div>
  <form class="row col-8 mb-3 search-form mx-auto justify-content-center">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, placeholder: "教材を探す", class: "col-6 form-control search-text float-left fa fa-search search-icon" %>
      <%= f.hidden_field :genre, value: @genre %>
      <%= f.button :type => "submit", class: "ml-1 btn btn-primary", style: "border-radius: 100%;" do %>
        <i class='fa fa-search'></i>
      <% end %>
    <% end %>
  </form>
  <div class="row">
    <% @texts.each do |text| %>
      <div class="col-12 col-md-6 col-lg-4 text-card-container">
        <div class="card content-card border-dark mb-3">
          <%= link_to text_path(text.id), target: :_blank do%>
            <img class="card-img-top" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="カード画像", >
            <div class="card-body text-dark text-card-body">
              <div id="text-<%= text.id %>">
                <%= render "read", text: text %>
              </div>
              <p class="card-title"><%= text.title %></p>
              <p class="card-text">【<%= text.genre %>】</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @texts %>
